{% extends '_base.html' %}

{% block page_title %}Note page{% endblock page_title %}

{% block context %}

    {% for note in note_list %}
        <article class="note-card">
                <span class="note-id">#2</span>
                <p class="note-text">{{note.text}}</p>
                <p class="note-author">{{note.author}}</p>
        </article>
    {% empty %}
        <article class="note-card">
                <span class="note-id">#3</span>
                <p class="note-text">Buy milk and bread</p>
                <p class="note-author">Ali</p>
        </article>
    {% endfor %}


{% endblock %}